/* Mobile-first - portrait or up to 350px*/
.ResultsArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(209, 176, 54, 0.36); */
  padding: 15px 0 0 0;
  text-align: center;
  /* height: 100vh; */
  /*margin-bottom: 0;*/
}

.ResultsArea h3 {
  width: 90%;
  font-size: 1.5rem;
  color: #D98E04;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: .5px;
}

.ResultsArea p {
  font-size: 1.5rem;
  color: #AA1A11;
  margin: 1rem;
}

.ResultsArea img {
  box-shadow: 1px 2px 2px black;
  border-radius: 100%;
  width: 85vw;
  margin-bottom: 1rem;
}

/*.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;

}*/

/* @media only screen and (max-width: 560px){
  .ResultsArea {
    height: 66vh;
  }

  .ResultsArea h3 {
    font-size: 2.3rem;
    width: 100%;
    text-align: center;
    margin: 1rem 1rem 0;
  }

  .ResultsArea p {
    font-size: 1.8rem;
    text-align: center;
  }

  .ResultsArea img {
    width: 63vw;

  }
}

@media only screen and (min-width: 350px){
  .ResultsArea h3 {
    font-size: 2.3rem;
    width: 100%;
    text-align: center;
    margin: 1rem 1rem 0;
  }

} */
