.TempBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ccc;
  background-image: url('./images/CKTherm_BGMobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 12rem;
}

.TempBar h3 {
  font-size: 1.8rem;
  color: #fdf1e9;
  text-shadow: 1px 2px #3B2C05;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  letter-spacing: 1px;
}


.TempBar input {
  width: 80vw;
  padding: .88rem 0;
  border: 1px solid #fff;
  border-radius: 3px;
  /* margin-bottom: 2.22rem; */
  color: #010c3f;
  text-align: center;
  font-size: 1rem;
}

.TempBar input:focus {
  outline: none;
}

.TempBar button {
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  width: 8.11rem;
  padding: .77rem 0;
  border-radius: 54px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  font-size: 1.3rem;
  transition: background-color .25s;
}

.TempBar button:hover {
  background-color: rgba(199, 100, 14, .8);
}

.TempBar button:focus {
  outline: none;
}

.TempBar button:active {
  outline: none;
  background-color: rgba(230, 121, 26, .8);
}

/* @media only screen and (min-width: 561px){
  .TempBar {
  background-image: url('./images/CKTherm_BGDesktop.jpg');
  justify-content: center;
  }

  .TempBar h3 {
    font-size: 2rem;
    padding: 10px 22px;
  }

  .TempBar input {
    width: 28vw;
    margin-right: 0;
    margin-bottom: 0;
  }
} */
